<!DOCTYPE html>
<html>
	<head>
		<link rel=:stylesheet" type="text/css" href="class_A.css">
	</head>
<body>
		{
	font-style:italic;
	text-align: center;
	}

	.Class_A {
	color: blue;
	}
	
	<h1 class="Class_A">Good morning!</h1>
	<h2>Good afternoon!</h2>
	<h3 class="Class_A">Goodnight!</h3>
</body>
</html>