body {
    background-color: white;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*Step 2-This is where you style the form inputs*/
input, textarea{
    width: 300px; 
    margin: 10px 0;
    border: 2px solid #003366;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
}

